[submodule "magic-context"]
	path = magic-context
	url = https://github.com/igamenovoer/magic-context.git
	branch = main
[submodule "extern/tracked/PeiDocker"]
	path = extern/tracked/PeiDocker
	url = https://github.com/igamenovoer/PeiDocker.git
	branch = main
